POSTGRES_DB=name of the database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password for the database user
PGADMIN_DEFAULT_EMAIL=admin email for pgAdmin
PGADMIN_DEFAULT_PASSWORD=admin password for pgAdmin

DATABASE_URL=postgresql://postgres:password for the database user@localhost:5433/name of the database